# Travis-CI build script for Thrill

language: cpp


compiler:
  - clang
  - gcc

before_install:
  # g++5
  - if [ "$CXX" == "g++" ]; then sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test; fi

  # clang-6.0
  - if [ "$CXX" == "clang++" ]; then
    wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -;
    sudo apt-add-repository "deb http://apt.llvm.org/bionic/ llvm-toolchain-bionic-6.0 main";
    fi
  - sudo apt-get update 

install:
  # g++5
  - if [ "$CXX" = "g++" ]; then sudo apt-get install -y g++-5; fi
  - if [ "$CXX" = "g++" ]; then export CXX="g++-5"; fi

  # clang-6.0
  - if [ "$CXX" == "clang++" ]; then sudo apt-get install --allow-unauthenticated -y clang-6.0; fi
  - if [ "$CXX" == "clang++" ]; then export CXX="clang++-6.0"; fi

script:
  - scons
